* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
}

/* HEADER */

header {
    height: 50px;
    align-items: center;
    background-color: red;
    
}

li {
    padding: 10px 20px;
}

#inizia {
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
    border: none;
}

/* MAIN */

/* JUMBOTRON */

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #b4d0e7;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-10 {
    
}

.j.title {
    text-align: center;
    padding: 0px 0;
}



.j-contenuto {
    
    

}

.j-subtitle {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    
}

.j-paragraph { 
    width: 40%;
    border: 1px solid black;
    height: 100px;
    background-color: yellow;
    height: 300px;
}

.j-img {
    width: 60%;
    height: 100px;
    background-color: yellow;
    height: 300px;
    border: 1px solid black;
}

/* SOTTO JUMBOTRON */

.sottojumb {
    background-color: orange;
}

.sj-container {
    max-width: 700px;
    margin: 0 auto;
    height: 800px;
    background-color: brown;

}















/* TROVA UN PARTNER */

.partner {
    background-color: pink;
}

.p-contenuto  {
    height: 200px;
    width: 800px;
    background-color: darkolivegreen;
}

#partner {
    width: 100%;
}

/* BUSINESS */

.business {
    height: 700px;
    background-color: green;
}

/* SOTTO BUSINESS */

.sottobusiness {
    height: 350px;
    background-color: darkviolet;
}

/* DESIGNIT */

.designit {
    height: 350px;
    background-color: yellow;
}

/* PROVA GRATUITA */

.provagratuita {
    height: 250px;
    background-color: rgb(60, 194, 194);
}

/* DOMANDE FREQUENTI */

.faq {
    height: 400px;
    background-color: rgb(200, 56, 48);
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
}

.f-top {
    height: 250px;
}

.f-bottom {
    height: 150px;
}

/*___________________________________________*/

/* UTILITY */

.flex {
    display: flex;
}

.spacebtw {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}

.nostyle {
    list-style: none;
}

.azure {
    background-color: #b4d0e7;
}

.m-0auto {
    margin: 0 auto;
}

.h100 {
    height: 100px;
}

.col
