* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    height: 50px;
    align-items: center;
    
}

li {
    padding: 10px 20px;
}

#inizia {
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
    border: none;
}

/* MAIN */

/* JUMBOTRON */

.container {
    padding: 50px 200px 0 200px;
}

.j-contenuto {
    max-width: 1000px;
    height: 500px;
    background-color: red;

}

.j-title {
    max-width: 800px;
    height: 100px;
    background-color: blue;
    margin: 50px 100px;
}

.j-subtitle {
    display: flex;
    
}

.j-paragraph { 
    width: 40%;
    border: 1px solid black;
    height: 100px;
    background-color: yellow;
    height: 300px;
}

.j-img {
    width: 60%;
    height: 100px;
    background-color: yellow;
    height: 300px;
    border: 1px solid black;
}




/* SOTTO JUMBOTRON */

.sottojumb {
    height: 900px;
    background-color: orange;
}

/* TROVA UN PARTNER */

.partner {
    height: 500px;
    background-color: pink;
}

/* BUSINESS */

.business {
    height: 700px;
    background-color: green;
}

/* SOTTO BUSINESS */

.sottobusiness {
    height: 350px;
    background-color: darkviolet;
}

/* DESIGNIT */

.designit {
    height: 350px;
    background-color: yellow;
}

/* PROVA GRATUITA */

.provagratuita {
    height: 250px;
    background-color: rgb(60, 194, 194);
}

/* DOMANDE FREQUENTI */

.faq {
    height: 400px;
    background-color: rgb(200, 56, 48);
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
}

.f-top {
    height: 250px;
}

.f-bottom {
    height: 150px;
}

/*___________________________________________*/

/* UTILITY */

.flex {
    display: flex;
}

.spacebtw {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}

.nostyle {
    list-style: none;
}

.azure {
    background-color: #b4d0e7;
}
