* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
}

/* HEADER */

header {
    height: 50px;
    align-items: center;
    
}

li {
    padding: 10px 20px;
}

.inizia {
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
    border: none;
}

/* MAIN */

/* JUMBOTRON */

.jumbotron {
    max-width: 1200px;
    margin: 0px auto;
    background-color: #b4d0e7;
}

.row {
    display: flex;
    justify-content: center;
}

.col-10  {
    

}

.j.title {
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
    padding: 50px 250px;
}

/* 
Layout Jumbotron:
1. Definizione di un contenitore
2. mi servono nel contenitore due colonne (div) che
   devono essere affincati (ci serve flex)
3. row per il flex
4. gestione delle colonne left e right con delle larghezze
in base alla grafica (sx 30% e dx 70%)
*/
.j-container {
    width: 700px;
    margin: 0 auto;
}

.j-row {
   display: flex; 
}

.col-30 {
    width: 30%;    
}

.j-paragraph {
    margin-bottom: 20px;

}


.inizia-prova {
    border-style: none;
    margin-bottom: 20px;
    padding: 5px 10px;
    color: white;
}

.annulla {
    margin-bottom: 30px;
}



.col-70 {
    width: 70%;
}

#jumboimg {
    width: 100%;
}

/* ------ SOTTO JUMBOTRON ------ */

.sottojumb {
    max-width: 1200px;
    margin: 0 auto;
}

.sj-container {
    max-width: 700px;
    margin: 70px auto 0 auto;
    height: 800px;
}

.spanradio {
    margin-top: 20px;
    margin-left: 50px;
}

.pianobusiness {
    margin-bottom: 20px;
}

/* COLONNA 1: SINGOLO */
/* alcune regole qui vengono copiate ed 
incollate anche per le altre colonne*/

#row-sj {
    padding: 50px 50px;
    gap: 20px;
}

.col-33 {
    width: calc(100% / 3);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.content-col33 {
    padding: 20px 30px;
}

.title-33 {
    margin-bottom: 20px;
}

.maxtitle-33 {
    line-height: 20px;
    margin-bottom: 20px;
}

.info-33 {
    margin-bottom: 20px;
}

.icona {
    margin-bottom: 15px;
}

.button-prova > button {
    background-color: #0061ff;
    border-style: none;
    font-size: 10px;
    color: white;
    padding: 5px;
}

.little-line {
    margin-right: 90px;
}

.salienti {
    margin-bottom: 20px;
}

.fa-check {color: #0061ff;}

#contattaci {
    padding: 5px 35px;
    align-items: center;
}

/*COLONNA 10 ENTERPRISE TEAM*/

.col-100 {
    background-color: yellow;
    border: 1px solid black;
    height: 150px;
    width: 600px;
    margin: 0 auto;
}

.tc1 {
    width: calc(70%);
}

.tc2 {
    width: calc(30%);
}














/* TROVA UN PARTNER */

.partner {
    background-color: pink;
}

.p-contenuto  {
    height: 200px;
    width: 800px;
    background-color: darkolivegreen;
}

#partner {
    width: 100%;
}

/* BUSINESS */

.business {
    height: 700px;
    background-color: green;
}

/* SOTTO BUSINESS */

.sottobusiness {
    height: 350px;
    background-color: darkviolet;
}

/* DESIGNIT */

.designit {
    height: 350px;
    background-color: yellow;
}

/* PROVA GRATUITA */

.provagratuita {
    height: 250px;
    background-color: rgb(60, 194, 194);
}

/* DOMANDE FREQUENTI */

.faq {
    height: 400px;
    background-color: rgb(200, 56, 48);
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
}

.f-top {
    height: 250px;
}

.f-bottom {
    height: 150px;
}

/*___________________________________________*/

/* UTILITY */

.flex {
    display: flex;
}

.spacebtw {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}

.text-center {
    text-align: center;
}

.nostyle {
    list-style: none;
}

.azure {
    background-color: #b4d0e7;
}

.m-0auto {
    margin: 0 auto;
}

.m-bottom20 {
    margin-bottom: 20px;
}

.h100 {
    height: 100px;
}

.col {}

.bg-blue {
    background-color: #0061ff;
}

.font10 {
    font-size: 10px;
}

.font11 {
    font-size: 11px;
}

.no-s {
    list-style: none;
    text-align: left;
}

/* padding */
.p-top10 {padding-top: 10px;}